flux/in/SI-Autorisations/ARHGOS_FINESS_AMF_V3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="typeNumeroFiness">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9A-Z][0-9]{7}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeRaisonSociale">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeActivite">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Za-z]{2,5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCodeModalite">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Za-z]{2,5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCodeForme">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Za-z]{2,3}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="typeNumeroAutorisationArhgos">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeDateAutorisation">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeDateMeo">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeDateFin">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeDateCaducite">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCodeEml">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCodeMarqueEml">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{0,4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeNoSerieEml">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeDateFinMeo">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeIdCpom">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="45"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeASRLibelleActivite">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeASRLibelleModalite">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeASRLibelleForme">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCapacite">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,11}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCodeRegion">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>   
  </xs:simpleType>

  <xs:simpleType name="typeASRIndicateurRegional">
    <xs:restriction base="xs:string">
      <xs:enumeration value="O"/>
      <xs:enumeration value="N"/>
    </xs:restriction>   
  </xs:simpleType>

  <xs:simpleType name="typeNumOrdre">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeASRNumAvenant">
    <xs:restriction base="xs:string">     
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeASRCodeAvenant">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeDate">
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCodeEvt">
    <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>  

  <xs:simpleType name="typeLibelleEvt">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeResultatVisite">
    <xs:restriction base="xs:string">
      <xs:enumeration value="C"/>
      <xs:enumeration value="NC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeNumDecision">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCommentaire">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="750"/>
    </xs:restriction> 
  </xs:simpleType>

  <xs:simpleType name="typeEmetteur">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARHGOS"/>
      <xs:enumeration value="arhgos"/>
      <xs:enumeration value="FINESS"/>
      <xs:enumeration value="finess"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fluxarhgos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="horodatage" minOccurs="1" maxOccurs="1" />
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="activiteoffresoin"/>
          <xs:element ref="equipmateriellourd"/>
          <xs:element ref="autreactivite"/>
          <xs:element ref="activitesoumiseareco"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="horodatage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="emetteur" type="typeEmetteur" minOccurs="1" maxOccurs="1"/>
        <xs:element name="destinataire" type="typeEmetteur" minOccurs="1" maxOccurs="1"/>
        <xs:element name="versionmessage" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="datemaj" type="xs:date" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="activiteoffresoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nofinessej" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="rsej" type="typeRaisonSociale" minOccurs="0" maxOccurs="1" nillable="false"/>
		<xs:element name="activite" type="typeActivite" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="modalite" type="typeCodeModalite" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="forme" type="typeCodeForme" minOccurs="1" maxOccurs="1" nillable="false"/>
		<xs:element name="codeautorarhgos" type="typeNumeroAutorisationArhgos" minOccurs="1" maxOccurs="1" nillable="false"/>
		<xs:element name="dateautor" type="typeDateAutorisation" minOccurs="1" maxOccurs="1" nillable="false"/>
		<xs:element name="nofinesset" type="typeNumeroFiness" minOccurs="0" maxOccurs="1" nillable="false"/>
        <xs:element name="rset" type="typeRaisonSociale" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datelimite" type="typeDateCaducite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datemeo" type="typeDateMeo" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="dateeffet" type="typeDateMeo" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datefin" type="typeDateFin" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datecaducite" type="typeDateCaducite" minOccurs="0" maxOccurs="1" nillable="true"/>		
        <xs:element name="datemaj" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="equipmateriellourd">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nofinessej" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="rsej" type="typeRaisonSociale" minOccurs="0" maxOccurs="1" nillable="false"/>
        <xs:element name="codeautorarhgos" type="typeNumeroAutorisationArhgos" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="type" type="typeCodeEml" minOccurs="1" maxOccurs="1"  nillable="false"/>
        <xs:element name="marque" type="typeCodeMarqueEml" minOccurs="0" maxOccurs="1"  nillable="true"/>
        <xs:element name="noserie" type="typeNoSerieEml" minOccurs="0" maxOccurs="1"  nillable="true"/>
        <xs:element name="dateautor" type="typeDateAutorisation" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="nofinesset" type="typeNumeroFiness" minOccurs="0" maxOccurs="1" nillable="false"/>
        <xs:element name="rset" type="typeRaisonSociale" minOccurs="0" maxOccurs="1" nillable="false"/>
        <xs:element name="datelimite" type="typeDateCaducite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datemeo" type="typeDateMeo" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="dateeffet" type="typeDateMeo" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datefin" type="typeDateFin" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datecaducite" type="typeDateCaducite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datemaj" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="activitesoumiseareco">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idcpom" type="typeIdCpom" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="nofinessej" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="nofinesset" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="dateeffetcpom" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datefincpom" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="codeautorarhgos" type="typeNumeroAutorisationArhgos" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="indreg" type="typeASRIndicateurRegional" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="activiterc" type="typeActivite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="modalite" type="typeCodeModalite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="forme" type="typeCodeForme" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="libactiviterc" type="typeASRLibelleActivite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="libmod" type="typeASRLibelleModalite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="libfor" type="typeASRLibelleForme" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="dateeffetasr" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datecaducite" type="typeDateCaducite" minOccurs="0" maxOccurs="1" nillable="true"/>		
        <xs:element name="capacite" type="typeCapacite" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="region" type="typeCodeRegion" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="etat" type="typeASRCodeAvenant" minOccurs="1" maxOccurs="1" nillable="true"/>        
        <xs:element name="listeavenants" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="avenant" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="numordre" type="typeNumOrdre" minOccurs="1" maxOccurs="1" nillable="true"/>
                    <xs:element name="typeaven" type="typeCodeEvt" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element name="libaven" type="typeLibelleEvt" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element name="numaven" type="typeASRNumAvenant" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element name="dateaven" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xs:element name="oldCapacite" type="typeCapacite" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xs:element name="capacite" type="typeCapacite" minOccurs="0" maxOccurs="1" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="autreactivite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nofinessej" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="nofinesset" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="codeautorarhgos" type="typeNumeroAutorisationArhgos" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="activiteautre" type="typeActivite" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="modalite" type="typeCodeModalite" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="forme" type="typeCodeForme" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="datedecision" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="nodecision" type="typeNumDecision" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="etat" type="typeCodeEvt" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="datevisite" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="resultatvisite" type="typeResultatVisite" minOccurs="0" maxOccurs="1" nillable="true"/> 
        <xs:element name="datefin" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datecaducite" type="typeDateCaducite" minOccurs="0" maxOccurs="1" nillable="true"/>		
        <xs:element name="datemeo" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datelim" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datelimdep" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="datelimvis" type="typeDate" minOccurs="0" maxOccurs="1" nillable="true"/>       
        <xs:element name="listeevenements" type="listeevenementsType" maxOccurs="1" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>     
  
  <xs:complexType name="listeevenementsType">
	<xs:sequence>
		<xs:element name="evenement" maxOccurs="unbounded">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="numordre" type="typeNumOrdre"
						minOccurs="1" maxOccurs="1" nillable="false" />
					<xs:element name="nature" type="typeCodeEvt"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xs:element name="libelle" type="typeLibelleEvt"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xs:element name="datedecision" type="typeDate"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xs:element name="dateeffet" type="typeDate"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xs:element name="numerodecision" type="typeNumDecision"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xs:element name="commentaire" type="typeCommentaire"
						minOccurs="0" maxOccurs="1" nillable="true" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>

</xs:schema>
